* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Public Sans', sans-serif;
    background-color: #fafafa;
}

h1 {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 40px;
    letter-spacing: -0.36px;
    line-height: 42px;
    color: #33323D;
    margin: 0 0 32px 0;
}

p {
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
}

a, button {
    cursor: pointer;
}

.genericButton {
    appearance: none;
    background-color: #FAFAFA;
    font-size: 12px;
    color: #33323D;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    border: solid 1px #33323D;
    padding: 17px 32px;
    transition: background-color 0.2s ease-in, color 0.2s ease-out;
}

.genericButton:hover {
    background-color: #33323D;
    color: #fff;
}
/*-------------------------------------------------------------------------------------
Header Section
-------------------------------------------------------------------------------------*/
header {
    width: 100%;
    padding: 32px 32px 40px 32px;
    position: relative;
    /* border-bottom: solid 1px #EAEAEB; */
}

.headerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1111px;
    margin: 0 auto;
}

.close {
    display: none;
}

.navigation {
    position: absolute;
    top: 88px;
    right: 32px;
    z-index: 100;
    background-color: #33323D;
    padding: 40px 65px;
    text-align: center;

    display: none;
}

.navigation li {
    list-style-type: none;
    margin: 0 0 32px 0;
}

.navigation li:last-of-type {
    margin-bottom: 0;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Tablet Desktop nav */
.tablet-desktop {
    display: none;
}

.tablet-desktop ul {
    display: flex;
    gap: 42px;
}

.tablet-desktop ul li {
    list-style: none;
}

.tablet-desktop ul li a {
    text-decoration: none;
    color: #33323D;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.tablet-desktop ul li a.currentPage {
    color: #5FB4A2;
}

main {
    margin: 0 auto;
    max-width: 1111px;
    padding: 0 32px;
}

/*-------------------------------------------------------------------------------------
Hero Section
-------------------------------------------------------------------------------------*/
#hero {
    margin: 0 0 96px 0;
}

.heroImage { 
    height: 311px;
    width: 100%;
    margin: 0 0 24px 0;
    background-image: url('./images/homepage/mobile/image-homepage-hero@2x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.aboutButton {
    text-decoration: none;
}

.heroInfo button {
    cursor: pointer;
    appearance: none;
    border: none;
    display: flex;
    align-items: center;
    background-color: #203A4C;
    transition: background-color 0.2s ease-in;
}

.heroInfo button:hover .arrows {
    background-image: url('./images/icons/down-arrows-white.svg');
    background-color: #55A292;
}

.heroInfo button:hover {
    background-color: #5FB4A2;
}

button span {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    padding: 0 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.arrows {
    height: 48px;
    width: 48px;
    background-color: #1D3444;
    background-image: url('./images/icons/down-arrows.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.2s ease-in;
}

/*-------------------------------------------------------------------------------------
About Section
-------------------------------------------------------------------------------------*/
.profilePhoto {
    height: 346px;
    width: 100%;
    background-image: url('./images/homepage/mobile/image-homepage-profile@2x.jpg');
    background-size: cover;
    margin: 0 0 32px 0;
}

.aboutInfo p {
    margin-bottom: 24px;
}

.aboutInfo {
    border-top: solid 1px #EAEAEB;
    border-bottom: solid 1px #EAEAEB;
    padding: 32px 0;
}

.tabletDetail {
    display: none;
}

/*-------------------------------------------------------------------------------------
Contact Section
-------------------------------------------------------------------------------------*/
#contact {
    margin: 80px 0 80px 0;
    text-align: center;
}

.hiddenLine {
    display: none;
}

/*-------------------------------------------------------------------------------------
Footer Section
-------------------------------------------------------------------------------------*/
footer {
    padding: 56px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #33323D;
}

.footerContainer {
    max-width: 1111px;
}

footer ul {
    margin: 40px 0 40px 0;
}

footer ul li {
    list-style-type: none;
    margin: 0 0 32px 0;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.socials {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/*-------------------------------------------------------------------------------------
Portfolio Section
-------------------------------------------------------------------------------------*/
.manage {
    height: 288px;
    width: 100%;
    background-image: url('./images/portfolio/mobile/image-portfolio-manage@2x.jpg');
    background-size: cover;
    margin-bottom: 32px;
}

.bookmark {
    height: 288px;
    width: 100%;
    background-image: url('./images/portfolio/mobile/image-portfolio-bookmark@2x.jpg');
    background-size: cover;
    margin-bottom: 32px;
}

.insure {
    height: 288px;
    width: 100%;
    background-image: url('./images/portfolio/mobile/image-portfolio-insure@2x.jpg');
    background-size: cover;
    margin-bottom: 32px;
}

.fylo {
    height: 288px;
    width: 100%;
    background-image: url('./images/portfolio/mobile/image-portfolio-fylo@2x.jpg');
    background-size: cover;
    margin-bottom: 32px;
}

/*-------------------------------------------------------------------------------------
Details Section
-------------------------------------------------------------------------------------*/
.tech {
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
    color: #5FB4A2;
}

.tech:last-of-type {
    margin-bottom: 24px;
}

.projectDetails {
    margin: 48px 0 64px 0;
}

h2 {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 32px;
    font-weight: 400;
    color: #33323D;
    margin: 0 0 28px 0;
}

.projectDetails p {
    margin-bottom: 40px;
}

.preview {
    height: 197px;
    width: 100%;
    margin: 0 0 32px 0;
}

.preview:last-of-type {
    margin-bottom: 0;
}

.detailProject {
    height: 140px;
    width: 100%;
    margin-bottom: 40px;
}

.manageDetail {
    background-image: url('./images/detail/mobile/image-manage-hero@2x.jpg');
    background-size: cover;
}

.managePreview1 {
    background-image: url('./images/detail/mobile/image-manage-preview-1@2x.jpg');
    background-size: cover;
}

.managePreview2 {
    background-image: url('./images/detail/mobile/image-manage-preview-2@2x.jpg');
    background-size: cover;
}

.paginator {
    border-top: solid 1px #EAEAEB;
    border-bottom: solid 1px #EAEAEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paginator a {
    text-decoration: none;
}

.previous {
    text-align: left;
    padding: 24px 0;
}

.line {
    width: 1px;
    height: 167px;
    background-color: #EAEAEB;
}

.next {
    text-align: right;
    padding: 24px 0;
}

.paginator h2 {
    margin: 15px 0 10px 0;
}

.bookmarkDetail {
    background-image: url('./images/detail/mobile/image-bookmark-hero@2x.jpg');
    background-size: cover;
}

.bookmarkPreview1 {
    background-image: url('./images/detail/mobile/image-bookmark-preview-1@2x.jpg');
    background-size: cover;
}

.bookmarkPreview2 {
    background-image: url('./images/detail/mobile/image-bookmark-preview-2@2x.jpg');
    background-size: cover;
}

.insureDetail {
    background-image: url('./images/detail/mobile/image-insure-hero@2x.jpg');
    background-size: cover;
}

.insurePreview1 {
    background-image: url('./images/detail/mobile/image-insure-preview-1@2x.jpg');
    background-size: cover;
}

.insurePreview2 {
    background-image: url('./images/detail/mobile/image-insure-preview-2@2x.jpg');
    background-size: cover;
}

.fyloDetail {
    background-image: url('./images/detail/mobile/image-fylo-hero@2x.jpg');
    background-size: cover;
}

.fyloPreview1 {
    background-image: url('./images/detail/mobile/image-fylo-preview-1@2x.jpg');
    background-size: cover;
}

.fyloPreview2 {
    background-image: url('./images/detail/mobile/image-fylo-preview-2@2x.jpg');
    background-size: cover;
}

.contact {
    border-top: solid 1px #EAEAEB;
    border-bottom: solid 1px #EAEAEB;
    padding: 24px 0;
    margin: 0 0 32px 0;
}

.contactInfo {
    margin: 0 0 24px 0;
}

form {
    margin: 0 0 80px 0;
}

form input, textarea {
    width: 100%;
    border: none;
    background-color: #EAEAEB;
    padding: 18px 0 18px 16px;
    color: #33323D;
    font-family: 'Public Sans', sans-serif;
    font-size: 13px;
    outline: none;
}

.name, .email, .message {
    margin-bottom: 24px;
}

textarea {
    resize: none;
}

form input:focus, textarea:focus {
    border: solid 1px #5FB4A2;
}

form input::placeholder, textarea::placeholder {
    font-family: 'Public Sans', sans-serif;
    font-size: 13px;
    color: #A1A1A6;
}

form label {
    font-family: 'Public Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #33323D;
    line-height: 30px;
}

form button {
    border: none;
    background-color: #203A4C;
    width: 200px;
    height: 48px;
    font-family: 'Public Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

.error {
    border: solid 1px #F43030;
}

.nameError, .emailError, .messageError {
    color: #F43030;
    font-family: 'Public Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
    display: none;
}

.emailValidation {
    display: none;
}

/*-------------------------------------------------------------------------------------
Tablet Media Queries
-------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
    header .menu {
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 143px;
    }

    main {
        padding: 0 40px;
    }

    .tablet-desktop {
        display: block;
    }

    .heroImage {
        display: none;
    }

    #hero {
        height: 600px;
        background: url('./images/homepage/tablet/image-homepage-hero@2x.jpg');
        background-size: cover;
        position: relative;
    }
    
    .heroInfo {
        width: 514px;
        background-color: #FAFAFA;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 56px 56px 0 0;
    }

    #about {
        display: flex;
        justify-content: space-between;
        height: 600px;
    }

    .profilePhoto {
        width: 45%;
        height: 100%;
        background-image: url('./images/homepage/mobile/image-homepage-profile@2x.jpg');
        background-size: cover;
        background-position: 80%;
    }

    .aboutInfo {
        margin: 0;
        width: 339px;
    }

    #contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #contact h1 {
        text-align: left;
        width: 350px;
    }

    .hiddenLine {
        display: block;
        width: 113px;
        height: 1px;
        background-color: #EAEAEB;
    }

    footer {
        padding: 30px 40px;
    }

    footer ul {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 42px;
        margin: 0;
    }

    footer ul li {
        margin: 0;
    }

    .left {
        display: flex;
        gap: 48px;
    }

    .footerContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .portfolioItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 418px;
        margin: 0 0 80px 0;
    }

    .portfolioItem:nth-child(even) {
        flex-direction: row-reverse;
    }

    .manage, .bookmark, .insure, .fylo {
        width: 339px;
        height: 314px;
    }

    .manage {
        background-image: url('./images/portfolio/tablet/image-portfolio-manage@2x.jpg');
    }

    .bookmark {
        background-image: url('./images/portfolio/tablet/image-portfolio-bookmark@2x.jpg');
    }

    .insure {
        background-image: url('./images/portfolio/tablet/image-portfolio-insure@2x.jpg');
    }

    .fylo {
        background-image: url('./images/portfolio/tablet/image-portfolio-fylo@2x.jpg');
    }

    .portfolioDetail {
        display: flex;
        flex-direction: column;
    }

    .detailProject {
        height: 310px;
    }

    .manageDetail {
        background-image: url('./images/detail/tablet/image-manage-hero@2x.jpg');
    }

    .mobileDetail {
        display: none;
    }

    .desktopDetail {
        display: none;
    }

    .tabletDetail {
        border-top: solid 1px #EAEAEB;
        border-bottom: solid 1px #EAEAEB;
        padding: 32px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .tabletDetail p {
        width: 340px;
    }

    .preview {
        height: 434px;
    }

    .managePreview1 {
        background-image: url('./images/detail/tablet/image-manage-preview-1@2x.jpg');
    }
    .managePreview2 {
        background-image: url('./images/detail/tablet/image-manage-preview-2@2x.jpg');
    }

    .bookmarkDetail {
        background-image: url('./images/detail/tablet/image-bookmark-hero@2x.jpg');
    }

    .bookmarkPreview1 {
        background-image: url('./images/detail/tablet/image-bookmark-preview-1@2x.jpg');
    }

    .bookmarkPreview2 {
        background-image: url('./images/detail/tablet/image-bookmark-preview-2@2x.jpg');
    }

    .insureDetail {
        background-image: url('./images/detail/tablet/image-insure-hero@2x.jpg');
    }
    .insurePreview1 {
        background-image: url('./images/detail/tablet/image-insure-preview-1@2x.jpg');
    }
    .insurePreview2 {
        background-image: url('./images/detail/tablet/image-insure-preview-2@2x.jpg');
    }

    .fyloDetail {
        background-image: url('./images/detail/tablet/image-fylo-hero@2x.jpg');
    }
    .fyloPreview1 {
        background-image: url('./images/detail/tablet/image-fylo-preview-1@2x.jpg');
    }
    .fyloPreview2 {
        background-image: url('./images/detail/tablet/image-fylo-preview-2@2x.jpg');
    }

    .previous {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }

    .next {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }
}

/*-------------------------------------------------------------------------------------
Desktop Media Queries
-------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1000px) {
    header {
        height: 150px;
    }

    main {
        padding: 0;
        position: relative;
    }
    #hero {
        width: 1110px;
        background-image: url('./images/homepage/desktop/image-homepage-hero@2x.jpg');
        margin: 0 0 150px 0;
    }

    .heroInfo {
        width: 445px;
    }

    .heroInfo h1 {
        font-size: 50px;
        line-height: 50px;
        margin: 0 0 50px 0;
    }

    #about {
        width: 1015px;
        margin-bottom: 150px;
    }

    .profilePhoto {
        width: 540px;
        background-image: url('./images/homepage/desktop/image-homepage-profile@2x.jpg');
    }

    .hiddenLine {
        width: 534px;
    }

    .portfolioItem {
        width: 1015px;
        height: 500px;
        /* margin: 0 0 80px 0; */
    }

    .portfolioItem:nth-child(even) {
        position: relative;
        left: 95px;
    }

    .manage, .bookmark, .insure, .fylo {
        width: 540px;
        height: 100%;
        margin: 0;
    }

    .manage {
        background-image: url('./images/portfolio/desktop/image-portfolio-manage@2x.jpg');
    }

    .bookmark {
        background-image: url('./images/portfolio/desktop/image-portfolio-bookmark@2x.jpg');
    }

    .insure {
        background-image: url('./images/portfolio/desktop/image-portfolio-insure@2x.jpg');
    }

    .fylo {
        background-image: url('./images/portfolio/desktop/image-portfolio-fylo@2x.jpg');
    }

    .portfolioItem .aboutInfo {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .detailProject {
        height: 500px;
    }

    .manageDetail {
        background-image: url('./images/detail/desktop/image-manage-hero@2x.jpg');
    }

    .tabletDetail {
        display: none;
    }

    .desktopDetail {
        display: block;
        height: 498px;
    }

    .projectDetails {
        display: none;
    }

    .desktopProjectDetails {
        margin: 115px 0 64px 0;
        display: flex;
        justify-content: space-between;
    }

    .desktopDetails {
        width: 635px;
    }

    .desktopDetails h2 {
        color: #33323D;
        margin: 40px 0 30px 0;
    }

    .preview {
        height: 400px;
    }

    .managePreview1 {
        background-image: url('./images/detail/desktop/image-manage-preview-1@2x.jpg');
    }

    .managePreview2 {
        background-image: url('./images/detail/desktop/image-manage-preview-2@2x.jpg');
    }

    .bookmarkDetail {
        background-image: url('./images/detail/desktop/image-bookmark-hero@2x.jpg');
    }

    .bookmarkPreview1 {
        background-image: url('./images/detail/desktop/image-bookmark-preview-1@2x.jpg');
    }

    .bookmarkPreview1 {
        background-image: url('./images/detail/desktop/image-bookmark-preview-2@2x.jpg');
    }

    .insureDetail {
        background-image: url('./images/detail/desktop/image-insure-hero@2x.jpg');
    }

    .insurePreview1 {
        background-image: url('./images/detail/desktop/image-insure-preview-1@2x.jpg');
    }
    .insurePreview2 {
        background-image: url('./images/detail/desktop/image-insure-preview-2@2x.jpg');
    }

    .fyloDetail {
        background-image: url('./images/detail/desktop/image-fylo-hero@2x.jpg');
    }

    .fyloPreview1 {
        background-image: url('./images/detail/desktop/image-fylo-preview-1@2x.jpg');
    }
    .fyloPreview2 {
        background-image: url('./images/detail/desktop/image-fylo-preview-2@2x.jpg');
    }
}