* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Public Sans', sans-serif;
    background-color: #fafafa;
}

h1 {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 40px;
    letter-spacing: -0.36px;
    line-height: 42px;
    color: #33323D;
    margin: 0 0 32px 0;
}

p {
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
}

.genericButton {
    appearance: none;
    background-color: #FAFAFA;
    font-size: 12px;
    color: #33323D;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    border: solid 1px #33323D;
    padding: 17px 32px;
    transition: background-color 0.2s ease-in, color 0.2s ease-out;
}

.genericButton:hover {
    background-color: #33323D;
    color: #fff;
}
/*-------------------------------------------------------------------------------------
Header Section
-------------------------------------------------------------------------------------*/
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 32px 40px 32px;
    position: relative;
    /* border-bottom: solid 1px #EAEAEB; */
}

.close {
    display: none;
}

nav {
    position: absolute;
    top: 88px;
    right: 32px;
    z-index: 100;
    background-color: #33323D;
    padding: 40px 65px;
    text-align: center;

    display: none;
}

nav li {
    list-style-type: none;
    margin: 0 0 32px 0;
}

nav li:last-of-type {
    margin-bottom: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

main {
    padding: 0 32px;
}

/*-------------------------------------------------------------------------------------
Hero Section
-------------------------------------------------------------------------------------*/
#hero {
    margin: 0 0 96px 0;
}

.heroImage { 
    height: 311px;
    width: 100%;
    margin: 0 0 24px 0;
    background-image: url('./images/homepage/mobile/image-homepage-hero@2x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.aboutButton {
    text-decoration: none;
}

.heroInfo button {
    appearance: none;
    border: none;
    display: flex;
    align-items: center;
    background-color: #203A4C;
}

button span {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    padding: 0 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.arrows {
    height: 48px;
    width: 48px;
    background-color: #1D3444;
    background-image: url('./images/icons/down-arrows.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/*-------------------------------------------------------------------------------------
About Section
-------------------------------------------------------------------------------------*/
.profilePhoto {
    height: 346px;
    width: 100%;
    background-image: url('./images/homepage/mobile/image-homepage-profile@2x.jpg');
    background-size: cover;
    margin: 0 0 32px 0;
}

.aboutInfo p {
    margin-bottom: 24px;
}

.aboutInfo {
    border-top: solid 1px #EAEAEB;
    border-bottom: solid 1px #EAEAEB;
    padding: 32px 0;
}

/*-------------------------------------------------------------------------------------
Contact Section
-------------------------------------------------------------------------------------*/
#contact {
    margin: 80px 0 80px 0;
    text-align: center;
}

footer {
    padding: 56px 0;
    text-align: center;
    background-color: #33323D;
}

footer ul {
    margin: 40px 0 40px 0;
}

footer ul li {
    list-style-type: none;
    margin: 0 0 32px 0;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.socials {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/*-------------------------------------------------------------------------------------
Portfolio Section
-------------------------------------------------------------------------------------*/
.manage {
    height: 288px;
    width: 100%;
    background-image: url('./images/portfolio/mobile/image-portfolio-manage@2x.jpg');
    background-size: cover;
    margin-bottom: 32px;
}

.bookmark {
    height: 288px;
    width: 100%;
    background-image: url('./images/portfolio/mobile/image-portfolio-bookmark@2x.jpg');
    background-size: cover;
    margin-bottom: 32px;
}

.insure {
    height: 288px;
    width: 100%;
    background-image: url('./images/portfolio/mobile/image-portfolio-insure@2x.jpg');
    background-size: cover;
    margin-bottom: 32px;
}

.fylo {
    height: 288px;
    width: 100%;
    background-image: url('./images/portfolio/mobile/image-portfolio-fylo@2x.jpg');
    background-size: cover;
    margin-bottom: 32px;
}

/*-------------------------------------------------------------------------------------
Details Section
-------------------------------------------------------------------------------------*/
.tech {
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
    color: #5FB4A2;
}

.tech:last-of-type {
    margin-bottom: 24px;
}

.projectDetails {
    margin: 48px 0 64px 0;
}

h2 {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 32px;
    font-weight: 400;
    color: #33323D;
    margin: 0 0 28px 0;
}

.projectDetails p {
    margin-bottom: 40px;
}

.preview {
    height: 197px;
    width: 100%;
    margin: 0 0 32px 0;
}

.preview:last-of-type {
    margin-bottom: 0;
}

.detailProject {
    height: 140px;
    width: 100%;
    margin-bottom: 40px;
}

.manageDetail {
    background-image: url('./images/detail/mobile/image-manage-hero@2x.jpg');
    background-size: cover;
}

.managePreview1 {
    background-image: url('./images/detail/mobile/image-manage-preview-1@2x.jpg');
    background-size: cover;
}

.managePreview2 {
    background-image: url('./images/detail/mobile/image-manage-preview-2@2x.jpg');
    background-size: cover;
}

.paginator {
    border-top: solid 1px #EAEAEB;
    border-bottom: solid 1px #EAEAEB;
    display: flex;
    justify-content: space-between;
}

.paginator a {
    text-decoration: none;
}

.previous {
    text-align: left;
    padding: 24px 0;
}

.line {
    width: 1px;
    height: 167px;
    background-color: #EAEAEB;
}

.next {
    text-align: right;
    padding: 24px 0;
}

.paginator h2 {
    margin: 15px 0 10px 0;
}